 ------
 ObjectOriented Github Java API
 ------
 Yegor Bugayenko
 ------
 2014-11-02
 ------

Object Oriented Github API

  Set of classes in `com.jcabi.github` package
  is an object oriented Java adapter of
  {{{https://developer.github.com/v3/}Github API}}:

+--
import com.jcabi.github.RtGithub;
import com.jcabi.github.Issue;
import com.jcabi.github.Github;
import com.jcabi.github.Repo;
public class Main {
  public static void main(String[] args) {
    Github github = new RtGithub(".. your OAuth token ..");
    Repo repo = github.repos().get(new Coordinates.Simple("jcabi", "jcabi-github"));
    Issue issue = repo.issues().create("How are you?", "Please tell me...");
    issue.comments().post("My first comment!");
  }
}
+--

  Read {{{./apidocs-${project.version}/index.html}JavaDoc}}
  for more information and examples.

  There are {{{https://developer.github.com/libraries/}a few other Java adapters}}
  of Github API, but our
  implementation has its advantages, including:

   * All classes are private and implement public interfaces

   * Out-of-the-box in-memory mock of Github server

   * All classes are truly immutable and thread-safe

   * Every Github object gives GET/PATCH access to its raw JSON

   * HTTP request is accessible for modifications

   * Entire Github API is available, at least through a configurable HTTP request

  Java 7 or higher is required. The only dependency you need is
  (you can also download
  {{{http://repo1.maven.org/maven2/com/jcabi/jcabi-github/${project.version}/jcabi-github-${project.version}.jar}<<<jcabi-github-${project.version}.jar>>>}}
  and add it to the classpath):

+--
<dependency>
  <groupId>com.jcabi</groupId>
  <artifactId>jcabi-github</artifactId>
  <version>${project.version}</version>
</dependency>
+--

  If you're not a Maven user, you can use a JAR with all
  dependencies inside (over 4Mb):
  {{{http://repo1.maven.org/maven2/com/jcabi/jcabi-github/${project.version}/jcabi-github-${project.version}-jar-with-dependencies.jar}<<<jcabi-github-${project.version}-jar-with-dependencies.jar>>>}}.
  You can also include it to your Maven `pom.xml`:

+--
<dependency>
  <groupId>com.jcabi</groupId>
  <artifactId>jcabi-github</artifactId>
  <version>${project.version}</version>
  <classifier>jar-with-dependencies</classifier>
</dependency>
+--

* Cutting Edge Version

  If you want to use current version of the product, you can do it with
  this configuration in your <<<pom.xml>>>:

+--
<repositories>
  <repository>
    <id>oss.sonatype.org</id>
    <url>https://oss.sonatype.org/content/repositories/snapshots/</url>
  </repository>
</repositories>
<dependencies>
  <dependency>
    <groupId>com.jcabi</groupId>
    <artifactId>jcabi-github</artifactId>
    <version>1.0-SNAPSHOT</version>
  </dependency>
</dependencies>
+--
